<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device_width, initial-scale=1.0">
        <title>Hospital portal</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
        <link rel="preconnect" href="htpps://fonts.googleapis.com">
        <link href="htpps://fonts.googleapis.com/css2?family=Inter:wght@400;600&display=swap" rel="stylesheet">
    </head>
    <body class="{{ request.endpoint.split('.')[0] }}">
        <nav>
            <div class="logo">Hallelujah Hospital</div>
            <ul class="nav-links">
                <li><a href="{{ url_for('general.home') }}">Home</a></li>
                <li><a href="{{ url_for('general.about') }}">About</a></li>
                <li><a href="{{ url_for('general.contact') }}">Contact</a></li>
                <li><a href="{{ url_for('receptionist.receptionist_dashboard') }}">Reseptionist</a></li>
                <li><a href="{{ url_for('doctor.doctor_dashboard') }}">Doctor</a></li>
                <li><a href="{{ url_for('chat.chat') }}">Chat</a></li>
            </ul>
        </nav>

        <div class="container">
            {% block content %}{% endblock %}
        </div>
        {% with messages = get_flashed_messages(with_categories=true) %}
          {% if messages %}
            <div class="flash-messages">
              {% for category, message in messages %}
                <div class="flash-msg {{ category }}">{{ message }}</div>
              {% endfor %}
            </div>
          {% endif %}
        {% endwith %}
    </body>
</html>

<script>
    setTimeout(() => {
      const flashBoxes = document.querySelectorAll('.flash-msg');
      flashBoxes.forEach(box => {
        box.classList.add('fade-out');
      });
    }, 3000); // 3 seconds
</script>
  
  